a{
    text-decoration: none;
}
u{
    text-decoration: none;
}

.logo{
    width: 200px;
}

@media screen and (max-width: 600px) {
    .logo{
        width: 150px;
    }
}











/* card css */

/* csrd css end */
